[submodule "ThirdParty/Alamofire"]
	path = ThirdParty/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "ThirdParty/Locksmith"]
	path = ThirdParty/Locksmith
	url = git@github.com:getcircle/Locksmith.git
